.venv
.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache
.pytest_cache
.hypothesis

# Frontend related
**/node_modules/
frontend/node_modules
frontend/.pnp
frontend/.pnp.js
frontend/coverage
frontend/dist
frontend/dist-ssr
frontend/*.local
