header {
	height: 6vh;
}

.popup {
	display: flex;
	flex-direction: column;
	height: 100vh; /* Use viewport height to ensure full screen height */
	width: 100vw;
	background: #eae6e3;
	margin: auto;
	padding-top: 1%;
	border: 1px solid #eae6e3;
	/* border-radius: 24px; */
}

.popup-container {
	height: 10vh; /* 20% of viewport height for dropdown container */
	background-color: #ffffff;
	border-radius: 12px;
	padding: 15px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	max-width: 100%;
	margin: 20px 10px 10px 10px;
}

.dropdown-container {
	display: flex;
	flex-direction: column;
	margin-right: 15px;
}

.dropdown-container label {
	font-size: 12px;
	color: #666;
	margin-bottom: 5px;
}

.select-wrapper {
	position: relative;
}

.select-wrapper::after {
	content: "▼";
	font-size: 12px;
	color: #666;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	pointer-events: none;
}

.dropdown-container select {
	padding: 8px 30px 8px 10px;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	background-color: white;
	font-size: 14px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
	width: 100%;
}

.run-button {
	background-color: #2962a7;
	color: white;
	border: none;
	border-radius: 4px;
	padding: 10px 25px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s;
}

.run-button:hover {
	background-color: #1e4c8a;
}

.run-button:disabled,
.run-button[disabled] {
	background-color: #2962a7;
	cursor: not-allowed;
}

.custom-dropdown {
	position: relative;
	/* width: 200px; */
	width: 100%;
	min-width: max-content;
	margin-right: 15px;
}

.dropdown-header {
	display: flex;
	align-items: center;
	cursor: pointer;
	font-size: 12px;
	color: #666;
	padding: 0rem;
}

.dropdown-header span:first-child {
	margin-right: 4px; /* Small space between label and carrot icon */
}

.carrot-icon {
	font-size: 10px;
}

.selected-option {
	color: #2962a7;
	font-size: 14px;
	margin-top: 5px;
	text-align: left;
}

.dropdown-options {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	background-color: white;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	list-style: none;
	padding: 0;
	margin: 0;
	z-index: 1;
	/* max-height: 200px; */
	min-height: max-content;
	min-width: max-content;
	overflow-y: auto;
	/* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
	box-shadow: 0px 4px 4px 0px #00000040;
}

.dropdown-options li {
	padding: 8px 10px;
	cursor: pointer;
}

.dropdown-options li:hover {
	background-color: #f5f5f5;
}

.chat-container {
	display: flex;
	flex-direction: column;
	height: 80%; /* Remaining 80% of viewport height */
	overflow: hidden;
}

.messages-wrapper {
	height: 70vh; /* 70% of viewport height */
	overflow-y: auto;
}

/* Ensure ChatFooter stays at the bottom */
.chat-container > :last-child {
	height: 13vh;
}

/* Additional styles to ensure proper sizing and scrolling */
.messages {
	height: 100%;
	overflow-y: auto;
}

.chat-footer {
	min-height: 10vh; /* Ensure a minimum height for the footer */
}

.chat {
	background-color: #ffffff;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	/* margin: 15px 20px;
   */
	width: 99%;
	height: 77vh;
	margin: auto;
	margin-top: 5px;
	border-radius: 24px;
	overflow-y: auto;
	transition: all 0.5s ease;
}

.agent-button {
	padding: 8px 16px;
	margin: 0 8px;
	border-radius: 4px;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.5s ease;
	cursor: pointer;
}

.agent-button-outlined {
	background-color: transparent;
	border: 1px solid #0156a8;
	border-radius: 24px;
	color: #374679;
	font-weight: 400;
	font-size: 16px;
	min-width: 153px;
	cursor: pointer;
}

.agent-button-outlined:hover {
	background-color: rgba(0, 123, 255, 0.1);
}

.agent-button-filled {
	background: #69adee;
	border: 2px solid #69adee;
	border-radius: 24px;
	color: white;
	min-width: 153px;
}

.agent-button-filled:hover {
	background-color: #0056b3;
	border-color: #0056b3;
}

.dropdownSelect {
	background: linear-gradient(180deg, #b9b7b5 0%, #d7d5d3 100%);
	color: #374679;
}

.dropdown-menu > li {
	cursor: pointer;
	padding: 10px 20px;
	min-width: max-content;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
	background-color: #69adee;
}

.navbar {
	padding-top: 0rem;
}

.btn-download {
	float: right;
	background: #dadada;
	border-radius: 50px;
	color: white;
	font-size: 16px;
	font-weight: 700;
	line-height: 20.11px;
	padding-left: 30;
	padding-right: 30;
}

.btn-download:hover {
	background-color: #69adee;
	color: white;
}

.btn-download svg {
	color: #374679;
	fill: #374679;
}

.table {
	color: #0156a8;
}

tr {
	color: black;
}
/* 
.date-picker-container {
	background: white;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 10px;
	width: 300px; 
} */

.date-picker-container {
	/* display: flex; */
	/* max-width: max-content !important; */
	padding-bottom: 5%;
	/* border-radius: 14px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
}

.react-datepicker {
	font-family: inherit;
	border: none !important;
}

.react-datepicker__month-container {
	float: none;
}

.react-datepicker__time-container {
	border-left: none;
}

.react-datepicker-popper {
	position: static;
	transform: none !important;
}

.date-picker-buttons {
	/* display: flex;
	justify-content: space-between; */
	margin-top: 10px;
	text-align: right;
}

.date-picker-buttons button {
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 5px 10px;
	cursor: pointer;
}

.date-picker-buttons button:hover {
	background-color: #e0e0e0;
}

.react-datepicker__current-month {
	display: none;
}

.react-datepicker__header {
	background-color: white !important;
	border-bottom: none !important;
}

.react-datepicker__day-names {
	font-weight: 700;
	margin-top: 5% !important;
}

.react-datepicker__month-read-view,
.react-datepicker__year-read-view,
.react-datepicker__month-dropdown-container,
.react-datepicker__year-dropdown-container {
	font-size: 1.2em !important;
	padding-top: 10px;
}

.react-datepicker__navigation {
	/* display: none !important; */
	margin-top: 5%;
}

.react-datepicker__navigation--previous {
	left: -5px !important;
}

.react-datepicker__navigation--next {
	right: -6px !important;
}

.date-picker-buttons > button {
	background: white;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-top: 5px;
	font-size: 16px;
	line-height: 1.1;
	margin-right: 5px;
}

.spinner {
	border: 4px solid rgba(0, 0, 0, 0.1);
	border-left-color: #2962a7; /* Change this color to your preference */
	border-radius: 50%;
	width: 30px; /* Size of the spinner */
	height: 30px; /* Size of the spinner */
	animation: spin 1s linear infinite;
	margin: auto; /* Center the spinner */
	z-index: 1000;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

.alertConclusionText {
	font-size: 16px;
	font-weight: 400;
	text-align: left;
}

.alertConclusionText .carrotIcon {
	cursor: pointer;
	transition: transform 0.3s ease;

	display: inline-block;
}

.carrotIcon.show {
	transform: rotate(90deg) translateX(2px) !important;
}

.carrotIcon.hide {
	transform: rotate(0deg);
}

.feedbackIcon {
	cursor: pointer;
	color: #69adee;
	padding-right: 1%;
}

.feedbackIcon:hover {
	color: #2962a7;
}

.feedbackIcon.active {
	color: #007bff; /* or whatever color you want for the active state */
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.09);
	display: flex;
	justify-content: center;
	align-items: center;
	/* opacity: 0; */
	transition: opacity 0.3s ease;
	z-index: 1000;
}

.overlay.show {
	opacity: 1;
}

.feedbackForm {
	background: white;
	padding-left: 2%;
	padding-right: 2%;
	border-radius: 8px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	text-align: center;
	animation: fadeIn 0.3s ease;
}

.formBody {
	padding: 20px;
	padding-bottom: 5px;
	font-size: 1.2rem;
	font-weight: 500;
}

.formFooter {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	border-top: 0.2px solid color(srgb 0.8338 0.8192 0.8108);
	padding-top: 2%;
	padding-bottom: 2%;
}

.feedbackForm > textarea {
	width: 90% !important;
	margin-bottom: 2%;
}
.submit-btn {
	border: none;
	background: transparent;
	color: #2962a7;
	margin-right: 5%;
}
@keyframes fadeIn {
	from {
		transform: translateY(-20px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

.close-btn {
	/* margin-top: 10px; */
	cursor: pointer;
}

.dropdown-item {
	position: relative;
}

.dropdown-options > ul > li[data-status="completed"] {
	background-color: rgba(0, 255, 0, 0.1);
}

.dropdown-options > ul > li[data-status="error"] {
	background-color: rgba(255, 0, 0, 0.1);
}

.dropdown-options > ul > li[data-status="feedback"] {
	background-color: rgba(255, 255, 0, 0.1);
}

.dropdown-options > ul > li[data-status="processing"] {
	background-color: rgba(255, 255, 0, 0.1);
}
