@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* Style for the button */
.btn-custom {
  cursor: pointer;
  border: none;
  /* background-color: "#205493 !important"; */
  padding: 8px 16px;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* Style for the icon */
.icon {
  font-size: 20px;
}

/* Add the spin animation when the icon is spinning */
.icon-spin {
  animation: spin 1s linear infinite;
}
